body{
    font-family: Helvetica;
}
nav{
    padding-left: 50px;
    padding-right: 50px;

}
.navbar{
    background: #3e3e3e;
    border: none;
    border-radius: 0;
}

.navbar .navbar-nav>li>a {
    color: white;
}

.navbar .navbar-nav>li>a:hover {
    color: #a2a2a2;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
nav.navbar.navbar-inverse {
    margin-bottom: 0px;
}

#title{
    text-align: center;
    margin-top: 0;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 5px 0px 5px;
    background: #3e3e3e;
    color: white;
}

.social > a {
    color: white;
}
.social > a:hover{
    color: #2f5bb7;
}

.copyright{
    line-height: 30px;
    text-align: center;
}

.social{
    text-align: center;
    font-size:24px;
    color: white;
}

.helplinks{
    line-height: 30px;
    text-align: center;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0;
}

p.p-break {
  display: none;
}

@media (max-width: 767px) { /*xs screen*/
  #btm-img {
    padding-bottom: 150px;
  }
  p.p-break {
    display: block;
  }
}
.main_content {
    text-align: center;
}
.images {
    padding-bottom: 10%;
}
.images > img{
    margin: auto;
}
.about {
    font-size: 16px;
}