form {
    padding: 20px;
}

.log_message{
    text-align: center;
    margin-top: 100px;
}

.return_message{
    color: red;
    text-align: center;
    padding-top: 10px;
    margin: 0 0 -20px 0;

}